<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a routerLink="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="assets/site-logos/logo-paladins-gradient.png" alt=""/>
    </a>

    <ul *ngIf="loggedIn" class="nav nav-pills">
      <li class="nav-item">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle>Garage</a>
        <div class="dropdown-menu" role="menu" *dropdownMenu>
          <a class="dropdown-item">Office</a>
          <a class="dropdown-item">Season Stats</a>
          <a class="dropdown-item">Career Stats</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle>League</a>
        <div class="dropdown-menu" role="menu" *dropdownMenu>
          <a class="dropdown-item">Race Replay</a>
          <a class="dropdown-item">Race Results</a>
          <a class="dropdown-item">Schedule</a>
          <a class="dropdown-item">Standings</a>
          <a class="dropdown-item">History</a>
          <a class="dropdown-item">Drivers</a>
          <a class="dropdown-item">Teams</a>
          <a class="dropdown-item">Tracks</a>
        </div>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Forums</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Logout</a>
      </li>
    </ul>

    <ul *ngIf="!loggedIn" class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="" routerLinkActive="active" class="nav-link">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">
          Sign In
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/register" routerLinkActive="active" class="nav-link">
          Register
        </a>
      </li>
    </ul>
  </header>
</div>
